
h1{
    display: inline-block;
    position: relative;
}

h1::before{
    content: "æŸ´";
    color: brown;
    font-size: 50px;
    
}

h1::after{
    content: "";
    background: url(shibainu02.jpg);
    background-size: contain;
    width: 100px;
    height: 60px;
    position: absolute; 
    top: 0;
    right: -100px;
}
p{
    font-size: 50px;
}
p::first-letter{
    color: pink;
    background-color: brown;
}
