
h1{
    display: inline-block;
    position: relative;
}

h1::before{
    content: "柴";
    color: brown;
    font-size: 50px;
    
}

h1::after{
    content: "";
    background: url(../../shibainu02.jpg);
    background-size: contain;
    width: 100px;
    height: 60px;
    position: absolute; 
    top: 0;
    right: -100px;
}
p{
    font-size: 50px;
}
p::first-letter{
    color: pink;
    background: brown;
}
a{
    font-size: 50px;
}

a:hover{
    color:blue;
}

a:visited{
    color:green;
}
li{
    font-size: 50px;
}
li:nth-child(3){
    color:red;
}
li:nth-child(even){
    color:blue;
}
li:first-child{
    color:orange 
}